.submitIntro
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .submittext
        margin: 15px 0
        line-height: 1.5
    .submitBtn
        border-radius: 5px
        background: #0AF
        color: white
        padding: 10px 15px
        cursor: pointer
        a
            color: white
