.JudgeIntro
    padding: 0 30px
    margin-top: 50px
    .slide
        border: 1px solid #50514F
        min-height: 200px
        padding: 0 10px
        
        @media screen and (max-width: 768px)
            margin: 0
