$nthu_color = #7361AF

#nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 60px
    z-index: 30
    background-color: $nthu_color
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15)

    .logo
        position: absolute
        left: 3%
        height: calc( 60px - 20px)
        top: 10px
        img
            height: 100%
        h2
            font-size: 20px
            color: #fff
            letter-spacing: 1px
            line-height: 38px
            // font-family: PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei
            font-weight: 400
            margin-bottom: 0
            padding-bottom: 0
            box-shadow: 0 0 0 0 transparent
            b
                // font-family: PingFangTC-Regular, xingothic-tc, sans-serif, Microsoft JhengHei
                font-weight: 400
        @media screen and (max-width: 1024px)
            top: 15px
    .nav-list
        position: absolute
        right: 3%
        top: 10px
        line-height: calc( 60px - 20px)
        height: calc( 60px - 20px)
        cursor: pointer
        a
            height: 30px
            font-size: 15px
            margin: 0 10px
            color: rgba(255, 255, 255, 0.9)
            // font-family: PingFangTC-Light, xingothic-tc, sans-serif, Microsoft JhengHei
            font-weight: 300
            letter-spacing: 1px
    @media screen and (max-width: 1024px)
        height: 60px
        .logo
            left: 50%
            -webkit-transform: translateX(-50%)
            -ms-transform: translateX(-50%)
            transform: translateX(-50%)
            height: calc( 50px - 20px)
            h2
                font-size: 18px
                letter-spacing: 1px
                line-height: 30px
        .nav-list
            right: 0
            left: 0
            top: 50px
            width: 100%
            background-color: $nthu_color
            text-align: center
            transition: .3s ease
            min-height: 0
            height: 0
            overflow: hidden
            a
                width: 120px
                display: block
                margin: 30px auto
                line-height: 30px
                font-size: 17px
                opacity: 0
                -webkit-transform: translateX(-10px)
                -ms-transform: translateX(-10px)
                transform: translateX(-10px)
                transition: .2s ease-in
            &.active
                height: calc( 100vh - 50px)
                a
                    -webkit-transform: translateX(0px)
                    -ms-transform: translateX(0px)
                    transform: translateX(0px)
                    opacity: 1
                    for i in (1..15)
                        &:nth-child({i})
                            transition: 0.3s ease-in i * 0.05s
[class*='nav-menu']
    display: none

@media screen and (max-width: 1024px)
    [class*='nav-menu']
        display: inline-block
        position: relative
        cursor: pointer
        top 5px
        width: 50px
        height: 50px
        left: 3%
    [class*='nav-menu']:after,
    [class*='nav-menu']:before
        position: absolute
        content: ''
        width: 28px
        height: 2px
        background-color: #fbfbfb
        margin: 0 auto
        left: 0
        right: 0
        transition: .3s ease
        transform-origin: 0% 50%
    [class*='nav-menu']
        &:before
            top: 14px
            box-shadow: 0px 10px 0px 0px #fbfbfb
        &:after
            bottom: 14px;
    .nav-menu.active
        &:before
            -webkit-transform: rotate3d(0, 0, 1, 45deg)
            transform: rotate3d(0, 0, 1, 45deg)
            top: 14px
            box-shadow: 0px 0px 0px 0px transparent
        &:after
            -webkit-transform: rotate3d(0, 0, 1, -45deg)
            transform: rotate3d(0, 0, 1, -45deg)
            bottom: 14px
