$nthu_color = #7361AF
$black = #323232
.section
    width: 100%
    min-height: calc(100vh - 50px)
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px 0
    overflow: hidden
    &.lighten
        background: #DDD //lighten($nthu_color, 50%)
        .sectionTitle
            h1
                color: $black
            &:before
                background: $black
    &.darken
        color white
        // background: darken($nthu_color, 30%)
        background-image: url("https://nthuactors.github.io/src/js/components/img/bg/night4.jpg")
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
    .sectionTitle
        position: relative
        display: inline-block
        padding: 30px 0 15px
        h1
            font-weight: 400
            display: block
            font-size: 24px
        &:before
            content: ''
            position: absolute
            width: 50px
            height: 3px
            left 50%
            bottom: 0px
            background: white
            transform: translateX(-25px)
    .sectionContent
        min-height: 500px
        height: auto
        width: 100%
        position: relative
.bg_section
    .sectionTitle
        &:before
            display: none
.sm_section
    min-height: 400px
    height: 35vh
    width: 100%
    overflow: hidden
    &.lighten
        background: #EFEFEF
    &.darken
        color white
        background: #101010
